@font-face {
  font-family: "iconfont";
  /* Project id 4031788 */
  src: url('//at.alicdn.com/t/c/font_4031788_tqs4faowjq.woff2?t=1682236111428') format('woff2'),
    url('//at.alicdn.com/t/c/font_4031788_tqs4faowjq.woff?t=1682236111428') format('woff'),
    url('//at.alicdn.com/t/c/font_4031788_tqs4faowjq.ttf?t=1682236111428') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-kaishi:before {
  content: "\e609";
}

.icon-play:before {
  content: "\e63a";
}

.icon-yundongzuqiu:before {
  content: "\e658";
}